page-empresa-info {
    ion-icon{
        color: #000;
    }
    #img_empresa{
        width: 100%;
        text-align: center;
        position: relative;
    }

    #img_empresa img{
        width: 120px;
        height: 120px;
        border-radius: 60px;
        object-fit: cover;
        
    }
   p{
        font-size: 9px;
    }


    .upload{
        position: absolute;
        top: 55%;
        left: 55%;
    }
    
}
