page-categoria-incidencia {
    .menu {
        margin-left: 3%;
        margin-right: 3%;
      }
      p {
        font-size: 0.9em;
        color: rgb(252, 252, 252);
      }
    
      .scroll-content {
        background-image: url("../assets/imgs/gob_amigo_fondo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
}
